<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Shop Admin Panel</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
               asp-controller="Admin"
               asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Shop Admin</div>
            </a>

            <hr class="sidebar-divider my-0">

            <!-- Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Admin" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Admin Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Management
            </div>

            <!-- Categories -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#categoriesMenu"
                   aria-expanded="true" aria-controls="categoriesMenu">
                    <i class="fas fa-fw fa-list"></i>
                    <span>Categories</span>
                </a>

                <div id="categoriesMenu" class="collapse"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Category Actions:</h6>

                        <a class="collapse-item"
                           asp-controller="Categories"
                           asp-action="Index"
                           asp-route-isAdmin="true">
                            Edit / Delete Categories
                        </a>

                        <a class="collapse-item"
                           asp-controller="Categories"
                           asp-action="Create">
                            Add New Category
                        </a>
                    </div>
                </div>
            </li>

            <!-- Products -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#productsMenu"
                   aria-expanded="true" aria-controls="productsMenu">
                    <i class="fas fa-fw fa-box"></i>
                    <span>Products</span>
                </a>

                <div id="productsMenu" class="collapse"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Product Actions:</h6>

                        <a class="collapse-item"
                           asp-controller="Products"
                           asp-action="Index"
                           asp-route-isAdmin="true">
                            Edit / Delete Products
                        </a>

                        <a class="collapse-item"
                           asp-controller="Products"
                           asp-action="Create">
                            Add New Product
                        </a>
                    </div>
                </div>
            </li>

            <!-- Customers -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#customersMenu"
                   aria-expanded="true" aria-controls="customersMenu">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Customers</span>
                </a>

                <div id="customersMenu" class="collapse"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Customer Actions:</h6>

                        <a class="collapse-item"
                           asp-controller="Customers"
                           asp-action="Index"
                           asp-route-isAdmin="true">
                            Edit / Delete Customers
                        </a>

                        <a class="collapse-item"
                           asp-controller="Customers"
                           asp-action="Create">
                            Add New Customer
                        </a>
                    </div>
                </div>
            </li>

            <!-- Orders -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ordersMenu"
                   aria-expanded="true" aria-controls="ordersMenu">
                    <i class="fas fa-fw fa-receipt"></i>
                    <span>Orders</span>
                </a>

                <div id="ordersMenu" class="collapse"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Order Actions:</h6>

                        <a class="collapse-item"
                           asp-controller="Orders"
                           asp-action="Index"
                           asp-route-isAdmin="true">
                            Edit / Delete Orders
                        </a>

                        <a class="collapse-item"
                           asp-controller="Orders"
                           asp-action="Create">
                            Add New Order
                        </a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <h5 class="m-0 font-weight-bold text-primary">
                        Shop Management Panel
                    </h5>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-sm">
                                Back to Website
                            </a>
                        </li>
                    </ul>

                </nav>

                <!-- Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Shop Admin Panel - Faruk Özduran</span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>