@model IEnumerable<Project.Shop.Models.Category>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-success">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>